<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common_fragments/header :: header">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../public/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../public/css/bulma_custom.min.css"/>
</head>
<body>

<section th:replace="logged_out/fragments/hero :: hero('contact')"></section>

<main>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Kontakt
            </h1>
            <hr>
            <div class="content is-medium">
                <span class="is-size-4 has-text-weight-bold">Erika Ehn</span><br>
                <a href="mailto:eraehn@hig.se" title="Skicka mail till eraehn@hig.se">eraehn@hig.se</a><br>
                026-648247
            </div>
        </div>
    </section>
</main>

<footer th:replace="common_fragments/footer :: footer"></footer>

</body>
</html>