<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common_fragments/header :: header">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../public/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../public/css/bulma_custom.min.css"/>
</head>
<body>

<section th:replace="logged_out/fragments/hero :: hero('index')"></section>

<main>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Välkommen till VFU-portalen!
            </h1>
            <hr>
            <div class="content is-medium">
                <p>
                    Det här är Högskolan i Gävles informationssida och forum för socionomprogrammets
                    kurs Verksamhetsförlagd Utbildning (VFU). Här sker placeringsarbetet under
                    termin 4 i utbildningen, och de som har behörighet till portalens olika sidor
                    är VFU-samordnare på HiG, lokala VFU-samordnare i kommuner tillhörande studieorter,
                    samt studenter inom socionomprogrammet.
                </p>
                <p>
                    VFU-kursen startar under hösttermin 5, och slutar samtidigt som terminen i januari.
                    Aktuella datum uppdateras för varje år, beroende på hur perioderna är planerade.
                </p>
                <p>
                    Vid frågor vänd er till sidans administratör Erika Ehn, mail
                    <a href="mailto:eraehn@hig.se">eraehn@hig.se</a>
                    eller telefon 026-648247.
                </p>
            </div>
        </div>
    </section>
</main>

<footer th:replace="common_fragments/footer :: footer"></footer>

</body>
</html>