<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="common_fragments/header :: header">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../../public/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../../public/css/bulma_custom.min.css"/>
</head>
<body>

<nav th:replace="logged_in/admin/fragments/navbar :: nav"></nav>

<main>
    <section class="section">
        <div class="container">
            <h1 class="title">
                På denna sida kan du göra följande
            </h1>
            <hr>
            <div class="content is-medium">
                <ul class="is-size-5">
                    <li>Lägga till studieorter</li>
                    <li>Lägga till kommuner till studieorter</li>
                    <li>Ta bort studieorter (inklusive tillhörande kommuner)</li>
                    <li>Ta bort kommuner</li>
                </ul>
                <br>
                <h4>Varför behövs detta?</h4>
                <p>
                    Studieorterna som läggs till här är dem som kommer visas för studenterna,
                    när dem ska välja sin studieort
                </p>
                <p>
                    Kommunerna som läggs till här är dem som kommer visas för vfu samordnarna,
                    när dem ska välja kommun för platser
                </p>
            </div>
        </div>
    </section>
    <section id="handle_regions_title" class="section">
        <div class="container">
            <h1 class="title">
                Hantera studieorter och kommuner
            </h1>
            <hr>
            <div th:if="${region_existed}" class="notification is-danger is-size-5">
                Studieorten '[[${region}]]' fanns redan
            </div>
            <div th:if="${region_added}" class="notification is-success is-size-5">
                Studieorten '[[${region}]]' tillagd
            </div>
            <div th:if="${muni_existed}" class="notification is-danger is-size-5">
                Kommunen '[[${muni}]]' fanns redan
            </div>
            <div th:if="${muni_added}" class="notification is-success is-size-5">
                Kommunen '[[${muni}]]' tillagd
            </div>
            <div th:if="${region_deleted}" class="notification is-danger is-size-5">
                Studieorten '[[${region}]]' borttagen
            </div>
            <div th:if="${muni_deleted}" class="notification is-success is-size-5">
                Kommunen '[[${muni}]]' borttagen
            </div>
            <div th:if="${region_foreign_key}" class="notification is-success is-size-5">
                Går ej att ta bort studieort om någon tillhör den orten
            </div>
            <div th:if="${muni_foreign_key}" class="notification is-success is-size-5">
                Går ej att ta bort kommun om någon tillhör den kommunen
            </div>
            <br>

            <div class="content is-medium">
                <div id="vue-add-region">
                    <div class="notification is-danger is-size-5" v-show="showError" v-text="error" v-cloak></div>
                    <form @submit.prevent="ajaxAddRegion" action="/admin/handle-regions/add-region/" method="post">
                        <div class="field has-addons">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input is-medium" type="text" name="region" placeholder="Studieort"
                                       v-model.trim="region">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-globe"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fa" :class="[regionIsValid ? 'fa-check' : 'fa-times']"></i>
                                </span>
                            </p>
                            <p class="control">
                                <button type="submit" class="button is-primary is-medium"
                                        :class="{'is-loading': isAjaxWaiting}" :disabled="!regionIsValid">
                                    Lägg till ny studieort
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

            <div id="vue-regions">
                <vue-region v-for="regionMuni in regionMunis" :region-muni="regionMuni" :key="regionMuni.key"
                            @delete-region="deleteRegion" class="block"></vue-region>
                <div v-if="noscript">
                <th:block th:each="region_munis : ${region_muni_list}">
                    <div class="block">
                        <article th:replace="logged_in/admin/handle_regions/region_fragment :: region_noscript"></article>
                    </div>
                </th:block>
                </div>
            </div>

        </div>
    </section>
</main>

<footer th:replace="common_fragments/footer :: footer"></footer>

<script th:replace="logged_in/admin/handle_regions/js_fragment :: js"></script>

</body>
</html>