<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../public/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../public/css/bulma_custom.min.css"/>
</head>
<body>

<footer class="footer">
    <div class="container">
        <img class="image is-64x64" th:src="'/hig_logga_t_Bb.png'" src="../../public/hig_logga_t_Bb.png"
             style="margin: 0 auto 1rem auto;">
        <p class="has-text-centered">
            Skapad av studenter på dataingenjörsprogrammet. Kan innehålla spår av buggar.
        </p>
    </div>
</footer>

</body>
</html>