<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="common_fragments/header :: header">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../public/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../public/css/bulma_custom.min.css"/>
</head>
<body>

<nav th:replace="logged_in/admin/fragments/navbar :: nav"></nav>

<main>
    <section class="section">
        <div class="container">
            <h1 th:text="${text_title}" class="title">
                text_title
            </h1>
            <hr>
            <div th:text="${text_content}" class="content is-medium">
                text_content
            </div>

            <div th:id="dynamic_html">

            </div>
        </div>
    </section>
</main>

<footer th:replace="common_fragments/footer :: footer"></footer>


<script th:inline="javascript">
    document.getElementById("dynamic_html").innerHTML = [[${html_content}]];

</script>
</body>
</html>

