<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="common_fragments/header :: header">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../public/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../public/css/bulma_custom.min.css"/>
</head>
<body>
<style>
    textarea {
        min-height: 60px;
        overflow-y: auto;
        word-wrap:break-word
    }
    #aButton {
     background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     cursor: pointer;
}
</style>
<nav th:replace="logged_in/admin/fragments/navbar :: nav"></nav>

<main>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Välkommen Handledare
            </h1>
            <hr>
            <div class="content is-medium">
                <p class="has-text-weight-bold"> Kontaktuppgifter: Student</p>
                <div class="content is-small">
                    <ul class ="is-size-5">
                        <li>Namn: [[${contact_student_name}]]</li>
                        <li>Email: [[${contact_student_email}]]</li>
                        <li>Telefonnummer: [[${contact_student_phone_number}]]</li>


                    </ul>
                </div>
            </div>
            <form action="/admin/edit-handledare-first-HTML/" method="post">
                <textarea onkeyup="adjustHeight(this)" class="textarea is-medium" th:text="${html_content}" th:id="textArea" name="htmlContent"></textarea>

                <button th:id="submitTextButton" type="submit">Klar</button>
            </form>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Filer
            </h1>
            <hr>
            <div class="content is-medium">
                Här kan du se filer som Erika lägger upp.<br>
                <form action="/admin/edit-handledare/upload-handledare-file/" method="post" enctype="multipart/form-data">
                    <div class="file has-name block">
                        <label class="file-label">
                            <input id="fileInput" class="file-label" type="file" name="handledare_file" multiple onchange="showname()">
                        </label>
                    </div>
                    <br>
                    <button id="submitButton" type="submit" class="button is-primary is-large">Ladda upp</button>
                </form>
                <div th:each="file : ${files}">
                    <form action="/admin/download-handledare-file/" method="post" style="display: inline;">
                        <button id="aButton" name="fileToDownload" type="submit" th:value="${file}" style="color:blue">[[${file}]]</button>
                    </form>
                    <form onsubmit="return submitHandForm(this)" class="block" action="/admin/edit-handledare/delete-handledare-file/" method="post" th:if="${file}" style="display: inline;">
                        <button style="margin-top:0px;" type="submit" th:if="${file}"  th:value="${file}" class="button is-danger" name="fileToRemove">
                            <span class="icon is-small">
                                <i class="fa fa-times"></i>
                            </span>
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="common_fragments/footer :: footer"></footer>
<script>
function submitHandForm() {
    return confirm('Är du säker på att du vill ta bort filen?');
}
</script>
<script th:inline="javascript">
    function showname () {
      var name = document.getElementById('fileInput');
      alert('Vald fil är: ' + name.files.item(0).name);
    };
</script>

<script>

    var fileInput = document.getElementById("fileInput");
        fileInput.addEventListener("change", function() {
            document.getElementById("fileName").innerHTML = fileInput.files.item(0).name;
            alert('Selected file: ' + name.files.item(0).name);
            document.getElementById("submitButton").disabled = false;
        });
</script>
<script>
    function adjustHeight(el){
        el.style.height = (el.scrollHeight > el.clientHeight) ? (el.scrollHeight)+"px" : "60px";
    }

</script>

<script>
    var textarea = document.getElementById("textArea");
    adjustHeight(textarea);
</script>

</body>
</html>