<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="common_fragments/header :: header">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../public/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../public/css/bulma_custom.min.css"/>
</head>
<body>

<nav th:replace="logged_in/admin/fragments/navbar :: nav"></nav>

<main>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Lägg till plats
            </h1>
            <hr>
            <form action="/admin/add-place/" method="post">
                <h2 class="subtitle has-text-centered">

                    <span class="has-text-weight-bold has-text-danger">[[${cantDelete}]]</span>
                </h2>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Lägg till plats</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="text" name="unitName" placeholder="Namn på plats" required>
                                <span class="icon is-small is-left">
                                 <i class="fa fa-home"></i>
                           </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-right">
                                <input class="input" type="number" name="unitNumberOfSlots" placeholder="Antal platser" min="1" max="50" required>
                                <span class="icon is-small is-left">
                                <i class="fa fa-hashtag"></i>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Ort</label>
                    </div>
                    <div class="field-body has-icons-left">
                        <div class="field">
                            <p class="control has-icons-left">
                         <span class="select">
                             <select name="region" id="allRegions" onchange="ChangeMuniList()">
                              <option  th:each="region : ${region_list}" th:text="${region}"></option>
                             </select>
                         </span>
                                <span class="icon is-small is-left">
                                 <i class="fa fa-globe"></i>
                            </span>

                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Kommun</label>
                    </div>
                    <div class="field-body has-icons-left">
                        <div class="field">
                            <p class="control has-icons-left">
                         <span class="select">
                             <select name="regionMunis" id="allMunis">

                             </select>
                         </span>
                                <span class="icon is-small is-left">
                                 <i class="fa fa-globe"></i>
                            </span>

                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Information om plats</label>
                    </div>
                    <div class="field-body has-icons-left">
                        <div class="field">
                            <p class="control has-icons-left">
                         <span class="control">
                            <textarea class="textarea" name="unitInfo" placeholder="Information"></textarea>
                         </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary" >
                                    Lägg till plats
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="section">
        <div  class="container">
            <h1 class="title">
                Platser
            </h1>
                <div class="content">

                <ul class="is-size-5">
                    <li> För att lägga till en Handledare till en plats, Klicka på Plats ikonen</li>
                    <li> När en handledare läggs till så skickas ett mail till handledaren med ett lösenord</li>
                    <li> Det går <span class="has-text-danger is-size-4">inte</span> att ta bort en enhet som har en student </li>
                    <li> Det går <span class="has-text-danger is-size-4">inte</span> att ta bort en enhet som en student har som ett val</li>

                </ul>
                </div>
            <hr>

            <div class="field">
                <p class="control has-icons-left">
                    <input class="input is-medium" onkeyup="searchFunction()" type="text" placeholder="Sök Platsnamn"
                           id="myInput">
                    <span class="icon is-small is-left">
                            <i class="fa fa-search"></i>
                        </span>
                </p>
            </div>
            <div class="block" id="myBlock">
            <th:block th:each="unit : ${unit_list}">

                <article class="message">
                    <div class="message-header">
                        <p class="searchTitle">[[${unit.name}]], [[${unit.municipality.name}]]</p>
                        <form onsubmit="return submitForm(this)" action="/admin/delete-unit/" method="post">
                            <button type="submit" class="button is-danger " name="unitToDelete" th:value="|${unit.name}@@${unit.municipality.name}|">
                                <span>Ta bort enhet</span>
                                <span class="icon is-small">
                                 <i class="fa fa-times"></i>
                                </span>
                            </button>
                        </form>

                    </div>

                    <div class="message-body">
                        <div class="block"  th:each="place : ${place_id}" th:if="${place.unit.id} == ${unit.id} ">
                            <div class="field has-addons " >
                                <p class="control is-expanded"  >

                                    <button class="button is-primary" th:id="'btn' + ${place.id}" name="placeModal" th:value="|${unit.name}@@${unit.municipality.name}|">

                                        <span>Plats</span>
                                        <span class="icon is-small">
                                         <i class="fa fa-globe"></i>
                                     </span>
                                        <input type="hidden" name="placeId" th:value="${place.id}">
                                        <input type="hidden" name="unitNameMuni" th:value="|${unit.name}###${unit.municipality.name}|">
                                    </button>


                                    <span>Student: </span><span class="has-text-weight-bold has-text-danger" style="margin-right:100px;" th:if="${not place.student}" > Ingen student</span>
                                    <span class="has-text-weight-bold has-text-success" style="margin-right:100px;" th:if="${place.student}" >[[${place.student.studentData.name}]]</span>


                                <form class="block" action="/admin/add-handledare/" method="post" th:if="true">
                                    <button type="submit" style="margin-right:10px;" class="button is-primary" name="handledareToAdd">
                                        <span>Lägg till handledare </span>
                                        <span class="icon is-small">
                                         <i class="fa fa-plus"></i>
                                      </span>
                                    </button>
                                </form>
                                    Handledare: <span class="has-text-weight-bold has-text-danger" style="margin-right:10px;" th:if="${not place.handledare}" > Ingen handledare</span>
                                    <span class="has-text-weight-bold has-text-success" th:if="${place.handledare}" >[[${place.handledare[0].name}]]</span>

                                <form onsubmit="return formDelPlace(this)" style="display:inline-block" action="/admin/delete-one-place/" method="post">
                                    <input type="hidden" name="unitName" th:value="${unit.name}">
                                    <input type="hidden" name="regionMunis" th:value="${unit.municipality.name}">
                                    <input type="hidden" name="placeId" th:value="${place.id}">

                                    <button type="submit" class="button is-danger">
                                      <span>Ta bort platsen</span>
                                     <span class="icon is-small">
                                         <i class="fa fa-times"></i>
                                      </span>
                                    </button>
                                </form>
                                </p>



                                <div class="modal" th:id="'modal' + ${place.id}">
                                    <div class="modal-background" th:id="'bg' + ${place.id}"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Platssida för [[${unit.name}]], [[${unit.municipality.name}]]</p>
                                            <button th:id="'span' + ${place.id}" class="delete" aria-label="close"></button>
                                        </header>

                                        <section class="modal-card-body">
                                            <h2 class="title">
                                                Handledare
                                            </h2>
                                            <hr>
                                            <form class="block" action="/admin/add-handledare/" method="post" th:if="${not place.handledare}">
                                                <span>Email: </span> <input class="input" type="email" name="handledareToAdd" placeholder="Handledare Email" required>

                                                    <span>Namn: </span> <input class="input"  type="text" name="handledareName" placeholder="Handledare Namn" required>

                                                    <span>Telefonnummer: </span> <input class="input"  type="text" name="handledarePhoneNumber" placeholder="Handledare Telefonnummer">
                                                    <br>
                                                    <input type="hidden" name="placeId" th:value="${place.id}">
                                                     <input type="hidden" name="unitNameMuni" th:value="|${unit.name}###${unit.municipality.name}|">
                                                    <button type="submit" style="margin-top:20px;" th:if="${not place.handledare}" class="button is-primary" name="handledareToAdd">
                                                        <span>Lägg till handledare </span>
                                                    </button>
                                            </form>

                                                <div th:if="${place.handledare}">

                                                    <span>Email: </span>
                                                    <a th:href="|mailto:${place.handledare[0].email}|" th:text="${place.handledare[0].email}" target="_blank" class="has-text-info"></a>
                                                    <br>
                                                    <span th:if="${place.handledare}">Namn: [[${place.handledare[0].name}]]  </span>
                                                    <br>
                                                    <form class="block" action="/admin/update-phonenumber/" method="post" th:if="${place.handledare}">
                                                     <span  th:if="${place.handledare}">Telefonnummer:</span><input th:id="'phoneInput' + ${place.id}" th:if="${place.handledare}" name="phonenumberToUpdate" th:value="${place.handledare[0].phoneNumber}"> </input>
                                                        <span class="field">
                                                            <button type="submit" class="is-small" name="handledareToUpdate" th:value="${place.handledare[0].email}">
                                                                <span class="icon is-small">
                                                             <i class="fa fa-floppy-o"></i>
                                                                    </span>
                                                            </button>
                                                        </span>
                                                    </form>
                                               </div>
                                                <form onsubmit="return submitHandForm(this)" class="block" action="/admin/delete-handledare/" method="post" th:if="${place.handledare}">
                                                <button style="margin-top:20px;" type="submit" th:if="${place.handledare}"  th:value="${place.handledare[0].email}" class="button is-danger" name="handledareToDelete">
                                                        <span>Ta bort Handledare </span>

                                                        <span class="icon is-small">
                                                 <i class="fa fa-times"></i>

                                            </span>

                                                    </button>
                                            </form>

                                            <h2 th:if="${place.student}" class="title">
                                                Student
                                            </h2>
                                            <hr>

                                            <span th:if="${place.student}">Email: [[${place.student.email}]]</span>
                                            <br>
                                            <span th:if="${place.student}">Namn: [[${place.student.studentData.name}]]  </span>
                                            <br>
                                            <span th:if="${place.student}">Telefonnummer: [[${place.student.studentData.phoneNumber}]] </span>
                                            <h2 class="title">
                                                Information om plats
                                            </h2>
                                            <hr>
                                            <span>[[${place.unit.info}]]</span>


                                        </section>

                                        <footer class="modal-card-foot">
                                            <span></span>
                                        </footer>
                                    </div>
                                </div>


                            </div>


                        </div>
                        <div class="is-horizontal">
                         <form style="display:inline-block" action="/admin/add-one-place/" method="post">
                            <input type="hidden" name="unitName" th:value="${unit.name}">
                            <input type="hidden" name="regionMunis" th:value="${unit.municipality.name}">
                            <button type="submit" class="button is-primary" name="addOnePlace">
                                <span>Lägg till en plats</span>
                                     <span class="icon is-small">
                                         <i class="fa fa-plus"></i>
                                      </span>
                            </button>
                         </form>

                        </div>
                    </div>


                </article>

            </th:block>
            </div>
        </div>
    </section>




</main>

<footer th:replace="common_fragments/footer :: footer"></footer>

<script th:inline="javascript">

var places = [[${place_id}]];
for(i = 0; i < places.length; i++){

    if(!!document.getElementById("editBtn" + places[i].id) ){
    console.log("editBtn" + places[i].id);
    document.getElementById("editBtn" + places[i].id).onclick = (function(i){ return function() {
           var index = i;
           document.getElementById("phoneInput" + places[index].id).innerHTML = "<form class='block' action='/admin/add-handledare/' method='post'><input th:id=''phoneInput' + ${place.id}' type='text' name='phoneNumber' placeholder='Telefonnummer'> </form>";

           document.getElementById("editBtn" + places[index].id).innerHTML =  " <a type='submit' th:if='${place.handledare}'  th:id=''editBtn' + ${place.id}'> <span class='icon is-small'> <i class='fa fa-floppy-o'></i></span>";
        };
    })(i);
}

}
</script>

<script th:inline="javascript">

var regionsAndMunis = {};
var regionList = [[${region_list}]];
var munisForRegion = [[${region_muni}]];
for (i = 0; i < regionList.length; i++) {

       regionsAndMunis[regionList[i]] = munisForRegion[regionList[i]];
}

ChangeMuniList();
function ChangeMuniList() {
    var regionList = document.getElementById("allRegions");
    var muniList = document.getElementById("allMunis");
    var selectRegion = regionList.options[regionList.selectedIndex].value;
    while (muniList.options.length) {
        muniList.remove(0);
    }
    var regions = regionsAndMunis[selectRegion];
    if (regions) {
        var i;
        for (i = 0; i < regions.length; i++) {
            //var region = new Option(regions[i], muniList[i]);
           // muniList.options.add(region);
            muniList.innerHTML += "<option>" + regions[i] + "</option>";
        }
    }
}
</script>

<script>
function searchFunction() {
  var input, filter, block, article, td, i;

  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  block = document.getElementById("myBlock");
  article = block.getElementsByTagName("article");

  for (i = 0; i < article.length; i++) {
    td = article[i].getElementsByClassName("searchTitle")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        article[i].style.display = "";
      } else {
        article[i].style.display = "none";
      }
    }
  }
}
</script>
<script th:inline="javascript">
var places = [[${place_id}]];
for(i = 0; i < places.length; i++){

     var span = document.getElementById("span" + places[i].id);
     var background = document.getElementById("bg" + places[i].id);

     document.getElementById("btn" + places[i].id).onclick = (function(i){ return function() {
           var index = i;
           document.getElementById("modal" + places[index].id).className = "modal is-active";
        };
    })(i);

    span.onclick = (function(i){ return function() {
      var index = i;
       document.getElementById("modal" + places[index].id).className = "modal";
    };
    })(i);

    background.onclick = (function(i){ return function() {
        var index = i;
       document.getElementById("modal" + places[index].id).className = "modal";
    };
    })(i);

}
</script>


<script>
function submitHandForm() {
    return confirm('Är du säker på att du vill ta bort handledaren?');
}
</script>
<script>
function formDelPlace() {
    return confirm('Är du säker på att du vill ta bort platsen?');
}
</script>
<script>
function submitForm() {
    return confirm('Är du säker på att du vill ta bort enheten?');
}
</script>
</body>
</html>
